<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">General Background</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Computational Geometry</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>

            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Symbolic Computing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>

            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Algorithm Development</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Algebraic Geometry</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Numerical Computing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Maple</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>



            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Singular</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Matlab</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>

            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">45%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Other skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Scientific writing (Mathematics &amp; Computer Science)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Latex</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

                        <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Git</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->   
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>MS Office</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
           
            
        </div>
        
        
        
        
       
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
         <div class="skills">
            <!-- .skillbar -->
            
            <div class="skillbar clearfix" data-percent="99%">
                <div class="skillbar-title"><span>Arabic</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">99%</div>
            </div>
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="88%">
                <div class="skillbar-title"><span>German</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        

         
         
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Further Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Machine Learning <span class="duration"><i class="fa fa-calendar color"></i> Jan 2020</span></h5>
                <h6><span class="fa fa-trophy"></span> Stanford University \ Coursera</h6>
                <p> 
                    <dl style="font-size: 10px;">
                        <dd>  <p> -   Supervised learning (parametric/non-parametric algorithms, support vector machines, kernels, neural networks).  </p>   </dd> 
                        <dd>  <p>-   Unsupervised learning (clustering, dimensionality reduction, recommender systems, deep learning). </p>  </dd>
                        <dd>   <p>-  Best practices in machine learning (bias/variance theory; innovation process in machine learning and AI).  </p>   </dd>
                      
                </dl> </p>
            </li>
            
            <li class="first">
                <h5>Databases: Advanced Topics in SQL <span class="duration"><i class="fa fa-calendar color"></i> Sep  2020</span></h5>
                <h6><span class="fa fa-trophy"></span> Stanford University \ edX </h6>
                <p>  Indexes and Transactions, Constraints and Triggers,Views and Authorization </p>
            </li>
  
            <li class="first">
                <h5>Databases: Modeling and Theory<span class="duration"><i class="fa fa-calendar color"></i> Jun  2020</span></h5>
                <h6><span class="fa fa-trophy"></span> Stanford University \ edX </h6>
                <p>  Relational Databases, Relational Algebra, Design Theory and  Unified Modeling Language </p>
            </li>


        </ul>
        <!-- /.attributes -->


        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://drive.google.com/file/d/1rLvWs9bQemPDCyIEe7Cj7TKrVG010YTc/view?usp=sharing" target="_blank">  
             <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
       
      
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                               <h5>Research &amp; Development Engineer <span style="font-size: 11px;" class="duration"><i  class="fa fa-calendar color"></i> Feb 2021 - Ongoing</span></h5>
                
                <h6><span class="fa fa-briefcase"></span>  <a style="font-size: 14px;" href="https://www.realtimeatwork.com/" target="_blank">  RTaW </a> </h6>
               <dl style="font-size: 10px;">
                        <dd>  <p> -  Develop, enhance, and document algorithmic solutions, in Statistics, Optimization, and Geometry to
tackle client-posed problems & requested features </p>   </dd> 
                        <dd>  <p> -  Implement, test, and debug the algorithms (Python or
Java) as well as evaluate the product before customer
usage  </p>  </dd>
               </dl>
                <h5>Post Doctoral Researcher <span style="font-size: 11px;" class="duration"><i  class="fa fa-calendar color"></i> Feb 2021 - Ongoing</span></h5>
                
                <h6><span class="fa fa-briefcase"></span>  <a style="font-size: 14px;" href="https://www.inria.fr/en" target="_blank">French Institute for Research in Computer Science and Automation</a> </h6>
               <dl style="font-size: 10px;">
                        <dd>  <p> -   Designing a fragment of <a href="https://lamport.azurewebsites.net/tla/tla.html" target="_blank"> TLA++ </a> capable of being translated into <a href="http://cubicle.lri.fr/" target="_blank">Cubicle</a>  </p>   </dd> 
                        <dd>  <p> -   Implement translation algorithms from the fragment identifier to <a href="http://cubicle.lri.fr/" target="_blank">Cubicle</a> input language  </p>  </dd>
                        <dd>   <p> -  Coupling <a href="https://tla.msr-inria.inria.fr/tlaps/content/Home.html" target="_blank">TLAPS</a> with automatic verification tools using these translations  </p>   </dd>
                      <dd>  <p>-  Generating a documentation for the techniques and the produced codes  </p>  </dd>
                </dl>
  
                <h5> Teaching Assistant <span style="font-size: 11px;" class="duration"><i  class="fa fa-calendar color"></i> Sep 2019 - Feb 2021</span></h5>
                
                <h6><span class="fa fa-briefcase"></span>  <a style="font-size: 14px;" href="https://www.univ-lorraine.fr/" target="_blank">University of Lorraine</a> </h6>
                <p>Tutoring courses in:  </p>
               <dl style="font-size: 10px;">
                        <dd style="list-style-position: inside; margin-left: 10px;" >  <p> -   Scientific Programming Languages  </p>   </dd> 
                        <dd style="list-style-position: inside; margin-left: 10px;">  <p> -   Rational Database  </p>  </dd>    
                        
                </dl>
            

            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
       <ul class="attributes">
            <li class="first">
                <h5>Ph.D in Computer Science <span style="font-size: 11px;" class="duration"><i  class="fa fa-calendar color"></i> Nov 2017 - Feb 2021</span></h5>
                
                <h6><span class="fa fa-briefcase"></span>  <a style="font-size: 14px;" href="https://www.inria.fr/en" target="_blank">French Institute for Research in Computer Science and Automation</a> </h6>
               <dl style="font-size: 10px;">
                        <dd>  <p> -   Pursuing research in modeling the projections of 3D (even higher!) curves.  </p>   </dd> 
                        <dd>  <p>-   Using efficient symbolic and certified numerical tools for visualization & robotics purposes  </p>  </dd>
                        <dd>   <p>-  Designing & implementing related algorithms  </p>   </dd>
                      
                </dl>
  
                <h5> Master in Science (Mathematics) <span style="font-size: 11px;" class="duration"><i  class="fa fa-calendar color"></i> May 2015 -Oct 2017</span></h5>
                
                <h6><span class="fa fa-briefcase"></span>  <a style="font-size: 14px;" href="https://www.uni-kl.de/en/" target="_blank"> TU Kaiserslautern, Germany </a> </h6>
                <p> <b>Specialization:</b>  Geometry, Algebra and Computer Algebra  </p>
               <p> <b>Thesis context:</b> Development and implementation  of algorithms regarding curves defined with infinite series </p>

               <h5> Bachelor in Mathematics <span style="font-size: 11px;" class="duration"><i  class="fa fa-calendar color"></i> Sep 2009 -Jun 2014</span></h5>
                
                <h6><span class="fa fa-briefcase"></span>  <a style="font-size: 14px;" href="http://www.damascusuniversity.edu.sy/index.php?lang=2" target="_blank"> Damascus University, Syria </a> </h6>
                <p>  Undertaking an intensive Bachelor program of Pure &amp; Applied Mathematics courses   </p>
               



            </li>

        </ul>
        <!-- /.attributes -->
        <br>  
        
         <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>KAAD Scholarship award <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2017</span></h5>
                <h6><span class="fa fa-trophy"></span> TU Kaiserslautern </h6>
                <p> KAAD Scholarship for pursuing master degree at TU Kaiserslautern, Germany</p>
            </li>
            <li>
                <h5> International Mathematical Olympiads for University students <span class="duration"><i class="fa fa-calendar color"></i> 2013</span></h5>
                <h6><span class="fa fa-trophy"></span>  Damascus University</h6>
                <p>Selected for the Syrian team in the International Mathematical Olympiads for University students.</p>
            </li>

            <li>
                <h5> National Mathematical Olympiads<span class="duration"><i class="fa fa-calendar color"></i> 2010-2013</span></h5>
                <h6><span class="fa fa-trophy"></span> Damascus University</h6>
                <p>Top ten ranking in the Syrian National Olympiads of Mathematics for University Students.</p>
            </li>
  
        </ul>
        
        
        
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  </div> 
<!-- client reference -->
<!-- 
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
        
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
       
        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div> 
  
    
<div style="clear: both"></div>   
</div>

   -->
<!-- End .resume -->
