<!-- .portfolio -->
    

<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>
 

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter" active data-filter="catWeb catGraphic catMotion ProudOf">All</span></li>
            <li><span class="filter"  data-filter="catWeb">Publication</span></li>
            <li><span class="filter" data-filter="catGraphic">Software</span></li>
            <li><span class="filter" data-filter="catMotion">Teaching</span></li>
            <li><span class="filter" data-filter="ProudOf">Most Proud of</span></li>
            
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
          <!--    <div class="portfolio logo" data-cat="logo">	  -->
                <!-- .portfolio-wrapper -->
           <!--     <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus.consectetur adipiscingVivamus sit amet">
                        <img src="images/portfolio/1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>  </div>     -->
                <!-- /.portfolio-wrapper -->
            	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="https://www.sciencedirect.com/science/article/pii/S0377042721001734" target="_blank">
                        <img  height="310" src="images/portfolio/1.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <marquee width = "100%"  vspace="10" scrollamount="3">George Krait, Sylvain Lazard, Guillaume Moroz, Marc Pouget, Certified numerical algorithm for isolating the singularities of the plane projection of generic smooth space curves, Journal of Computational and Applied Mathematics. </marquee>
                                 </div>
                                 <span class="text-category">Publication</span>
                              <!--   <a class="text-title">Isolating the singularities of the plane projection of a generic space curve</a> -->
                                
                            
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <div class="portfolio ProudOf" data-cat="ProudOf">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper"> 
                    <a href="https://drive.google.com/file/d/1zDoRjFF-_Xr2M_Lsaly7_W_CZ6HQn1Xs/view?usp=sharing" title="Certifiecatins collected during my study period. Mostely about international and national mathenatical olympialds for university students." target="_blank"       >
                          <img hight="5010" src="images/portfolio/15b.png"  alt="" />                               
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="https://quotesgram.com/img/quotes-about-tutoring/9060714/"     target="_blank">Math Olympiads</a>
                                <span class="text-category"> Nice memories </span>

                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>  

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://hal.archives-ouvertes.fr/hal-02612412" target="_blank">
                        <img  height="310" src="images/portfolio/2.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <marquee>George Krait, Sylvain Lazard, Guillaume Moroz, Marc Pouget. Isolating the singularities of the plane projection of a generic space curve. 2020. </marquee>
                                 </div>
                                 <span class="text-category">Publication</span>
                              <!--   <a class="text-title">Isolating the singularities of the plane projection of a generic space curve</a> -->
                                
                            
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <div class="portfolio catWeb" data-cat="catWeb">    
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                    <a href="https://hal.archives-ouvertes.fr/hal-02294028v1" target="_blank">
                        <img  height="310" src="images/portfolio/3.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <marquee>George Krait, Sylvain Lazard, Guillaume Moroz, Marc Pouget. Numerical Algorithm for the Topology of Singular Plane Curves. EuroCG 2019 - 35th European Workshop on Computational Geometry, Mar 2019, Utrecht, Netherlands. </marquee>
                                 </div>
                                 <span class="text-category">Publication</span>
                              <!--   <a class="text-title">Isolating the singularities of the plane projection of a generic space curve</a> -->
                                
                            
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="https://github.com/gkrait/Courses/tree/master/Python" target="_blank">
                        <img src="images/portfolio/11.png" height="310"  />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" target="_blank">Programing in Python</a>
                                <span class="text-category">Teaching</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/gkrait/Courses/tree/master/Database" target="_blank">				
                        <img src="images/portfolio/13.jpg" height="310" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" target="_blank">Data Base</a>
                                <span class="text-category">Teaching</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    
                   <a href="Proj1.html" title="Isolating_singularities: Software for  efficient and certified visualizing of 2D-curves." >				
                        <img src="temp-162179215968303699_files/7.jpg" alt="Techlion" height="310" />  
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Isolating_singularities</a>
                                <span class="text-category">Software</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">         
                    <a href="https://drive.google.com/file/d/1lY2nbW_GCHii0-5DSYbgapIi1hBfJ_oM/view?usp=sharing" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." >
                        <img src="images/portfolio/9.png" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Master's Thesis</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>  
            <!-- /.portfolio -->



            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">         
                    <a href="https://drive.google.com/file/d/14Rv4asJ0-moCPtEVzuM4RgJMn_bRhdJ-/view?usp=sharing" target="_blank">
                        <img src="images/portfolio/14.png" height="310"  />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" target="_blank">ZMT (Handout)</a>
                                <span class="text-category">Teaching</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>  
            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="https://github.com/gkrait/Algebroid_Curves_std" title="Algebroid_Curves_std: A Singular library (C++) to compute a standard basis of an algebroid curve over an algebraically closed field and a set of generators of its associated semering." target="_blank">
                         <img src="images/portfolio/10.png" alt="QR Quick Response" height="300" copyright="Non-exclusive license to distribute"/>
                        
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="https://arxiv.org/abs/1812.02064"  target="_blank">Algebroid_Curves (Image source) </a>
                                
                                <span class="text-category">Software </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->
            
            <!-- .portfolio -->
            <div class="portfolio ProudOf" data-cat="ProudOf">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper"> 
                    <a href="https://drive.google.com/file/d/1zDoRjFF-_Xr2M_Lsaly7_W_CZ6HQn1Xs/view?usp=sharing" title="The report of my unforgettable defense." target="_blank"       >
                          <img src="images/portfolio/phd2.jpeg" alt="" />                               
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" href="https://m.facebook.com/compsciencememes/photos/a.104125301117469/107636264099706/?type=3&source=48"     target="_blank">PhD defense report </a>
                                <span class="text-category">(Image source)</span>

                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>  
            	
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->