<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Home</h1>

    <div class="row top-p">
        <div class="col-md-6 profile-l">

            <!--About me-->


            <div class="title_content">
                <div class="text_content">Who is This guy?</div>
                <div class="clear"></div>
            </div>
            <div id="disqus_thread"></div>


            <p style="margin-bottom:20px">

                <i class="fa fa-quote-left"></i>
                I am a mathematician with a Ph.D. in Computer Science, specializing in algorithm design and development.
                My work centers
                on addressing complex industrial challenges through advanced methods in optimization, computational
                geometry, and
                related areas of theoretical and applied computing. I am additionally passionate about exploring
                artificial intelligence
                algorithms, especially where mathematical rigor and innovative problem-solving are the cornerstone.
            </p>


            <p style="margin-bottom:20px">

                <i class="fa fa-quote-left"></i>


                In my current role with the <a href="https://www.consigli.no/" target="_blank"> The Autonomous Engineer
                </a> development group, I work at the intersection of
                advanced AI and
                rigorous mathematical modeling to develop intelligent tools for real estate design and planning. My
                focus includes
                creating systems that automate the generation of plant room layouts, duct and pipework, storage areas,
                and parking
                lots—optimizing for material efficiency, spatial usage, and carbon footprint.
            </p>




            <p style="margin-bottom:20px">

                <i class="fa fa-quote-left"></i>


                Previously, I was part of the <a href="https://www.realtimeatwork.com/" target="_blank"> RTaW
                </a>, where I contributed to <a href="https://www.realtimeatwork.com/rtaw-pegase/" target="_blank">
                    RTaW-Pegase-
                </a>the leading platform for
                designing,
                configuring, and simulating embedded communication architectures. The platform is used by major clients
                such as BMW,
                Renault, Bosch, Aptiv, Airbus, ArianeGroup, and NASA. As an Algorithm Developer, I was responsible for
                developing core
                logic and implementing numerous tools and features within the platform.
            </p>








            </p>





        </div>
        <!-- End left-wrap -->

        <div class="col-md-6 profile-r">

            <div class="cycle-slideshow">
                <img src="images/img-profile/about_1.jpeg" alt="" />
                <img src="images/img-profile/about_2.jpeg" alt="" />
                <img src="images/img-profile/about_3.png" alt="" />
            </div>


            <div> </div>

            <p style="margin-bottom:20px">

                <i class="fa fa-quote-left"></i>


                I also have an experience in acadimia. In addition to tutoring at the Engineering school in Nancy,
                France, I was a post-doctoral fellow at
                <a href="https://www.inria.fr/en/inria-centre-universite-lorraine" target="_blank">
                    the French Institute for Research in Computer Science and Automation.
                </a>. I worked with formal specification languages that automatically verify the logic of algorithms and
                procedures.

                During my Ph.D., at INRIA, Nancy, France, motivated by robotics and
                visualization applications, I focused on efficiently plotting <a
                    href="https://en.wikipedia.org/wiki/Singular_point_of_a_curve" target="_blank">singular</a> plane
                curves
                while preserving important properties such as <a
                    href="https://en.wikipedia.org/wiki/Topology#:~:text=In%20mathematics%2C%20topology%20(from%20the,holes%2C%20tearing%2C%20gluing%2C%20or"
                    target="_blank">topology</a>. My goal was to develop certified numerical algorithms for isolating
                singularities—key
                to understanding the curve's structure.

                During my master's studies at TU Kaiserslautern in Germany, I designed a semi-algorithm to encode
                a special types of high-dimensional curves called <em>Algebroid curves</em>.
                This work is implemented in the computer algebra system <a href="https://www.singular.uni-kl.de/"
                    target="_blank">Singular</a>.
                This made it easier and faster to perform complex calculations with these curves, making them more
                usable in practical
                applications.


            </p>

        </div>

    </div>




    <!-- begin service -->
    <!-- 
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services 1</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Making Money</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Easy to Customize</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Moving Let Us Help</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
     </div> 
</div> begin service -->
    <!-- End Services -->



    <!-- service 2 -->
    <!--
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">My Services 2</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Making Money
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Easy to Customize
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Moving Let Us Help
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div> service 2 -->
    <!-- end service 2 -->

    <div class="clear"></div>
</div>
<!-- End .profile -->